@import "tailwindcss";

:root {
  --background: rgba(24, 24, 24, 1);
  --foreground: rgba(203, 203, 203, 1);
  --text: rgba(156, 156, 156, 1);
  --font-inter: "Inter", sans-serif;
}

@theme inline {
  --font-sans: var(--font-inter);

  --color-background: var(--background);
  --color-brand: rgba(0, 114, 100, 1);
  --color-foreground: var(--foreground);
  --color-surface: rgba(15, 15, 15, 1);
  --color-text: rgba(156, 156, 156, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background);
    --foreground: var(--foreground);
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sans);
  font-size: 16px;
}
